{
    "extends": "rallycoding",
    "rules": {
        "arrow-body-style": "off",
        "max-len": "off",
        "quote-props": "off",
        "quotes": "off",
        "prefer-template": "off",
        "no-else-return": "off",
        "dot-notation": "off",
        "no-useless-escape": "off"
    }
}